.divBigHome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 0.5px solid black;
  margin: 10px 10px 10px 10px;
  background-color: rgb(199, 195, 195);
}
.divLitleHome {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav {
  margin-right: 30px;
}
.imgCard {
  width: auto;
  height: auto;
}
.bigDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.litlDiv {
  font-size: 60px;
  background-color: rgb(235, 189, 204);
  padding: 20px 80px 20px 20px;
  border-radius: 5px;
}

.bigLogo {
  background-size: 100%;
  width: 300px;
  height: 300px;
  margin-left: 50px;
}
.titleGroup {
  margin: 50px 50px 0px 0px;
}

h1.title {
}

h4.title {
  margin: 20px 0px 20px 0px;
}

.titleAndImg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.advantage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.btnStart {
  margin: 0.25rem 0 0.25rem 0;
  width: 130px;
}

.btnAdditionally {
  margin: 0.25rem 0 0.25rem 0;
  width: 130px;
}

.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.advantages {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  /* width: 600px; */
  max-width: 600px;
  min-width: 320px;
  margin: 50px 0px 50px 0px;
}

.advantage {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  width: 250px;
  height: 150px;
}

.advantageImg {
  width: 3rem;
  margin-bottom: 10px;
}

.aboutMethod {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  max-width: 800px;
  min-width: 300px;
}

.description {
  width: 300px;
  text-align: left;
  margin: 0px 0 30px 0;
  padding: 10px;
}

.discAndImgMethod {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 30px 0;
  justify-content: center;
}

.imgAboutMethod {
  width: 100%;
  max-width: 500px;
  padding-top: 20px;
}
.titleMethod {
  display: flex;
}

.advantagesApp {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  /* width: 600px; */
  max-width: 800px;
  min-width: 320px;
  margin: 30px 0px 30px 0px;
}

.advantageApp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* flex-direction: column; */
  margin: 50px 0px 50px 0px;
  /* width: 250px;
  height: 150px; */
}

.advantageAppImg {
  width: 100%;
  max-width: 500px;
}

.advantageAppTitle {
  width: 200px;
  margin: 20px;
}

.btnsBottom {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  margin-top: -40px;
  margin-bottom: 30px;
}

.btnStart2 {
  width: 180px;
  margin: 5px;
}

.btnPublic {
  width: 180px;
  margin: 5px;
}

.t @keyframes vertical-move {
  from,
  to {
    top: 0px;
  }
  25%,
  75% {
    top: 500px;
  }
}

.page-enter-active {
  animation: gr 5s forwards;
}
.page-exit-active {
  animation: gr 5s forwards;
}
@keyframes gr {
  0% {
    background-color: green;
  }
  50% {
    background-color: yellow;
  }
  100% {
    background-color: red;
  }
}
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
