.divRegistration {
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: cornflowerblue;
  max-width: 500px;
  border-radius: 20px;
}
.tilt-in-fwd-tr {
	-webkit-animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tilt-in-fwd-tr 0.6s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
